body { 
	margin: 0;
	overflow: auto;
}
#webgl { 
	background: linear-gradient(to bottom, #98c8f6 0%,#cbebff 40%,#f0f9ff 100%); 
}
#popup { 
	background: rgba(255, 255, 255, 0.95);
	border: 1px solid gray;
	position: absolute;
	left: 3px;
	top: 3px;
	max-width: 480px;
	z-index: 9999;
}
#popupbar { 
	background: rgba(140, 140, 140, 0.7);
	font-size: 16px;
	text-align: right;
	padding: 2px; 
}
#popupcontent { 
	border-top: 1px solid gray;
	padding: 0px 10px 15px;
	max-height: 500px;
	overflow: auto; 
}
#closebtn { 
	background: rgba(140, 140, 140, 0.5); 
	border: 1px solid gray;
	padding: 2px 8px;
	font-weight: bold;
	cursor: pointer; 
}
#urlbox {
	width: 100%;
}
#footer { 
	position: absolute; 
	left: 5px; 
	bottom: 5px; 
}
#infobtn { 
	color: white;
	background: rgba(152, 200, 246, 0.8);
	border: solid 4px rgba(255, 255, 255, 0.8);
	border-radius: 20px;
	box-shadow: 0 0 0 2px rgba(152, 200, 246, 0.3);
	width: 24px;
	height: 24px;
	text-align: center;
	font-family: serif;
	font-weight: bold;
	font-size: 24px;
	cursor: pointer; 
}
#Cursor_Coord{
	position:absolute;
	border-radius:4px;
	border:1px solid #FFF;
	background:rgba(0,60,136,.7);
	text-align:left;	
	font-size:1.0em;
	font-family:microsoft jhenghei ;
	color:white;	
	z-index:100;
    line-height:1.0rem;
    height:2rem; 
}

#wall_data_button, #mountain_wall_data_button, #plane_wall_data_button{
	display: block;
	font-size: 15px;
	color: black;
	background-color: rgba(140, 140, 140, 0.5);
	border-radius: 20px;
	margin: 15px;
}

#earthquake_data_button{
	display: block;
	font-size: 15px;
	color: black;
	background-color: rgba(140, 140, 140, 0.5);
	border-radius: 20px;
	margin: 15px;
}
#side_button{
	display: block;
	font-size: 15px;
	color: black;
	background-color: rgba(140, 140, 140, 0.5);
	border-radius: 20px;
	margin: 15px;
}
#wireframe_button{
	display: block;
	font-size: 15px;
	color: black;
	background-color: rgba(140, 140, 140, 0.5);
	border-radius: 20px;
	margin: 15px;
}
#popup h1 { 
	font-size: medium;
	font-weight: bold;
	margin: 5px; 
}
#popup ui {
	list-style-type: circle; 
}
#popup li { 
	margin-left: 13px; 
}
#wf_btn {
	display: block;
	font-size: 15px;
	color: black;
	background-color: rgba(140, 140, 140, 0.5);
	border-radius: 20px;
	margin: 15px;
}
#side_btn {
	display: block;
	font-size: 15px;
	color: black;
	background-color: rgba(140, 140, 140, 0.5);
	border-radius: 20px;
	margin: 15px;
}
#3d_to_2d_button{
	display: block;
	font-size: 15px;
	color: black;
	background-color: rgba(140, 140, 140, 0.5);
	border-radius: 20px;
	margin: 15px;
}
.license { 
	font-size: xx-small;
}
.label { 
	padding: 2px;
	text-shadow: 1px 1px #FFF, -1px 1px #FFF, 1px -1px #FFF, -1px -1px #FFF;
	position: absolute;
	pointer-events: none;
}
/*190923 menu*/
#menu_slider_scroll
{
	top: 0;
	right:-350px;
	width:350px;	
	position:fixed;
	
}
#menu_slider_content{
        margin-top:70px;
        background:#DAF3BF;
		font-family: Microsoft JhengHei;
		font-weight:bold;
		color:#FFF;
		font-size:120%;
		
		border-top: 3px solid #666666;
		border-bottom: 3px solid #666666;
		-moz-border-radius-topleft:20px;
		-moz-border-radius-bottomleft:20px;
		-webkit-border-top-left-radius:20px;
		-webkit-border-bottom-left-radius:20px;	
}
#menu_tab {
	position:absolute;
	bottom:10%;
	left:-30px;
	width:27px;
	background:#FFF;
	color:#1c94c4;

    border-top: 3px solid #666666;

    border-bottom: 3px solid #666666;
    border-left: 3px solid #666666;
	font-family: Microsoft JhengHei;
	text-align:center;

	-moz-border-radius-topleft:20px;
	-moz-border-radius-bottomleft:20px;
	-webkit-border-top-left-radius:20px;
	-webkit-border-bottom-left-radius:20px;	
}
#menu_tab ul:hover {
    color:white;
    background:#f6a828;
    cursor:pointer;
    }

#menu_tab span {
	display:block;
	line-height:24px;
	text-transform:uppercase;
    font-family:Microsoft JhengHei;
    font-size: 100%;
    font-weight:bold;
}

#floatingCirclesG{
	position:relative;
	width:125px;
	height:125px;
	margin:auto;
	transform:scale(0.6);
		-o-transform:scale(0.6);
		-ms-transform:scale(0.6);
		-webkit-transform:scale(0.6);
		-moz-transform:scale(0.6);
}
/*loading css*/
.f_circleG{
	position:absolute;
	background-color:rgb(255,255,255);
	height:22px;
	width:22px;
	border-radius:12px;
		-o-border-radius:12px;
		-ms-border-radius:12px;
		-webkit-border-radius:12px;
		-moz-border-radius:12px;
	animation-name:f_fadeG;
		-o-animation-name:f_fadeG;
		-ms-animation-name:f_fadeG;
		-webkit-animation-name:f_fadeG;
		-moz-animation-name:f_fadeG;
	animation-duration:1.2s;
		-o-animation-duration:1.2s;
		-ms-animation-duration:1.2s;
		-webkit-animation-duration:1.2s;
		-moz-animation-duration:1.2s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
}

#frotateG_01{
	left:0;
	top:51px;
	animation-delay:0.45s;
		-o-animation-delay:0.45s;
		-ms-animation-delay:0.45s;
		-webkit-animation-delay:0.45s;
		-moz-animation-delay:0.45s;
}

#frotateG_02{
	left:15px;
	top:15px;
	animation-delay:0.6s;
		-o-animation-delay:0.6s;
		-ms-animation-delay:0.6s;
		-webkit-animation-delay:0.6s;
		-moz-animation-delay:0.6s;
}

#frotateG_03{
	left:51px;
	top:0;
	animation-delay:0.75s;
		-o-animation-delay:0.75s;
		-ms-animation-delay:0.75s;
		-webkit-animation-delay:0.75s;
		-moz-animation-delay:0.75s;
}

#frotateG_04{
	right:15px;
	top:15px;
	animation-delay:0.9s;
		-o-animation-delay:0.9s;
		-ms-animation-delay:0.9s;
		-webkit-animation-delay:0.9s;
		-moz-animation-delay:0.9s;
}

#frotateG_05{
	right:0;
	top:51px;
	animation-delay:1.05s;
		-o-animation-delay:1.05s;
		-ms-animation-delay:1.05s;
		-webkit-animation-delay:1.05s;
		-moz-animation-delay:1.05s;
}

#frotateG_06{
	right:15px;
	bottom:15px;
	animation-delay:1.2s;
		-o-animation-delay:1.2s;
		-ms-animation-delay:1.2s;
		-webkit-animation-delay:1.2s;
		-moz-animation-delay:1.2s;
}

#frotateG_07{
	left:51px;
	bottom:0;
	animation-delay:1.35s;
		-o-animation-delay:1.35s;
		-ms-animation-delay:1.35s;
		-webkit-animation-delay:1.35s;
		-moz-animation-delay:1.35s;
}

#frotateG_08{
	left:15px;
	bottom:15px;
	animation-delay:1.5s;
		-o-animation-delay:1.5s;
		-ms-animation-delay:1.5s;
		-webkit-animation-delay:1.5s;
		-moz-animation-delay:1.5s;
}

#tooltip {
  position: fixed;
  left: 0;
  top: 0;
  min-width: 100px;
  min-width: 40px;
  max-width: 500px;
  max-height: 1000px;
  text-align: left;
  padding: 5px 12px;
  font-family: monospace;
  background: #d7ed7e;
  display: none;
  opacity: 0;
  border: 1px solid black;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  transition: opacity 0.25s linear;
  border-radius: 3px;
  white-space:normal;
  word-break:break-all;
  word-wrap:break-word;
}

img {
    max-width: 100%;
    max-height: 100%;
}

@keyframes f_fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-o-keyframes f_fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-ms-keyframes f_fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-webkit-keyframes f_fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-moz-keyframes f_fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}