<html>
	<head>
		<title>流域險峻值</title>
	</head>
	<body>
		<script type="text/x-mathjax-config">
			MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
		</script>
		<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
		</script>
		$\textbf{流域險峻值}\ (\ Melton’s\ ratio\ (\ MR = \frac{H}{\sqrt A} ；H\ (km)\ 為集水區溢流點以上高程差，A\ (km^{2})\ 為溢流點以上集水區面積；Melton,\ 1957\ )$
		<br></br>
		流域險峻值表對照表(台灣適用)：
		<br></br>

		
		<table class=MsoTableGrid border=1 cellspacing=0 cellpadding=0
		 style='border-collapse:collapse;border:none'>
		 <tr>
		  <td width=184 style='width:138.25pt;border:solid windowtext 1.0pt;padding:
		  0cm 5.4pt 0cm 5.4pt'>
		  <p class=MsoNormal align=center style='text-align:center'><span
		  style='font-size:14.0pt;font-family:標楷體'>致災類型</span></p>
		  </td>
		  <td width=184 style='width:138.25pt;border:solid windowtext 1.0pt;border-left:
		  none;padding:0cm 5.4pt 0cm 5.4pt'>
		  <p class=MsoNormal align=center style='text-align:center'><span
		  style='font-size:14.0pt;font-family:標楷體'>流域險峻值</span><span lang=EN-US
		  style='font-size:14.0pt;font-family:"Times New Roman",serif'>(MR)</span></p>
		  </td>
		  <td width=184 style='width:138.3pt;border:solid windowtext 1.0pt;border-left:
		  none;padding:0cm 5.4pt 0cm 5.4pt'>
		  <p class=MsoNormal align=center style='text-align:center'><span
		  style='font-size:14.0pt;font-family:標楷體'>流域長度</span><span lang=EN-US
		  style='font-size:14.0pt;font-family:"Times New Roman",serif'>(L)</span></p>
		  </td>
		 </tr>
		 <tr>
		  <td width=184 style='width:138.25pt;border:solid windowtext 1.0pt;border-top:
		  none;padding:0cm 5.4pt 0cm 5.4pt'>
		  <p class=MsoNormal align=center style='text-align:center'><span
		  style='font-size:14.0pt;font-family:標楷體'>洪水</span></p>
		  </td>
		  <td width=184 style='width:138.25pt;border-top:none;border-left:none;
		  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
		  padding:0cm 5.4pt 0cm 5.4pt'>
		  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US
		  style='font-size:14.0pt;font-family:"Times New Roman",serif'>&lt;0.3</span></p>
		  </td>
		  <td width=184 style='width:138.3pt;border-top:none;border-left:none;
		  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
		  padding:0cm 5.4pt 0cm 5.4pt'>
		  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US
		  style='font-size:14.0pt;font-family:"Times New Roman",serif'>--</span></p>
		  </td>
		 </tr>
		 <tr>
		  <td width=184 rowspan=2 style='width:138.25pt;border:solid windowtext 1.0pt;
		  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
		  <p class=MsoNormal align=center style='text-align:center'><span
		  style='font-size:14.0pt;font-family:標楷體'>高含砂水流</span><span lang=EN-US
		  style='font-size:14.0pt;font-family:"Times New Roman",serif'>+</span><span
		  style='font-size:14.0pt;font-family:標楷體'>土石流</span></p>
		  </td>
		  <td width=184 style='width:138.25pt;border-top:none;border-left:none;
		  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
		  padding:0cm 5.4pt 0cm 5.4pt'>
		  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US
		  style='font-size:14.0pt;font-family:"Times New Roman",serif'>&gt;0.43</span></p>
		  </td>
		  <td width=184 style='width:138.3pt;border-top:none;border-left:none;
		  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
		  padding:0cm 5.4pt 0cm 5.4pt'>
		  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US
		  style='font-size:14.0pt;font-family:"Times New Roman",serif'>7</span><span
		  style='font-size:14.0pt;font-family:標楷體'>公里≦</span><span lang=EN-US
		  style='font-size:14.0pt;font-family:"Times New Roman",serif'>L</span><span
		  style='font-size:14.0pt;font-family:標楷體'>≦</span><span lang=EN-US
		  style='font-size:14.0pt;font-family:"Times New Roman",serif'>14</span><span
		  style='font-size:14.0pt;font-family:標楷體'>公里</span></p>
		  </td>
		 </tr>
		 <tr>
		  <td width=184 style='width:138.25pt;border-top:none;border-left:none;
		  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
		  padding:0cm 5.4pt 0cm 5.4pt'>
		  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US
		  style='font-size:14.0pt;font-family:"Times New Roman",serif'>0.3</span><span
		  style='font-size:14.0pt;font-family:標楷體'>≦</span><span lang=EN-US
		  style='font-size:14.0pt;font-family:"Times New Roman",serif'>MR</span><span
		  style='font-size:14.0pt;font-family:標楷體'>≦</span><span lang=EN-US
		  style='font-size:14.0pt;font-family:"Times New Roman",serif'>0.43</span></p>
		  </td>
		  <td width=184 style='width:138.3pt;border-top:none;border-left:none;
		  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
		  padding:0cm 5.4pt 0cm 5.4pt'>
		  <p class=MsoNormal align=center style='text-align:center'><span
		  style='font-size:14.0pt;font-family:標楷體'>≦</span><span lang=EN-US
		  style='font-size:14.0pt;font-family:"Times New Roman",serif'>14</span><span
		  style='font-size:14.0pt;font-family:標楷體'>公里</span></p>
		  </td>
		 </tr>
		 <tr>
		  <td width=184 style='width:138.25pt;border:solid windowtext 1.0pt;border-top:
		  none;padding:0cm 5.4pt 0cm 5.4pt'>
		  <p class=MsoNormal align=center style='text-align:center'><span
		  style='font-size:14.0pt;font-family:標楷體'>土石流</span></p>
		  </td>
		  <td width=184 style='width:138.25pt;border-top:none;border-left:none;
		  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
		  padding:0cm 5.4pt 0cm 5.4pt'>
		  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US
		  style='font-size:14.0pt;font-family:"Times New Roman",serif'>&gt;0.43</span></p>
		  </td>
		  <td width=184 style='width:138.3pt;border-top:none;border-left:none;
		  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
		  padding:0cm 5.4pt 0cm 5.4pt'>
		  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US
		  style='font-size:14.0pt;font-family:"Times New Roman",serif'>&lt;7</span><span
		  style='font-size:14.0pt;font-family:標楷體'>公里</span></p>
		  </td>
		 </tr>
		</table>

		<br></br>
		台灣版表格資料來源: 周憲德 (2020) 堆積扇地貌特性與土砂災害類型之探討，行政院農業委員會水土保持局創新研究計畫報告。
		<br></br>
		<!--a href="https://academiccommons.columbia.edu/doi/10.7916/d8-0rmg-j112">https://academiccommons.columbia.edu/doi/10.7916/d8-0rmg-j112</a-->
	</body>
</html>